body {
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
    height: 100%;}

header h1{
    font-size: 3em;
    margin-top: 7vh;
    margin-left: 23vw;
}
.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 7vw;}

.input-texto{
    width: 40%;
    height: 75vh;
    margin-top: 5vh;
    margin-left: 15%;}

.input-texto textarea{
    color: #0A3871;
    font-size: 32px;
    line-height: 48px;
    width: 100%;
    height: calc(100% - 168px);
    min-height: 150px;
    border: none;
    background-color: transparent;
    margin-bottom: 8px;
    resize: none;}

.input-texto p{
    color: #495057;
    font-size: 12px;
    margin-bottom: 8px;
    width: 100%;}

.botones {
    width: 100%;}

.botones input {
    width: 45%;
    height: 67px;
    border-radius: 24px;
    border-color: #0A3871;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    margin: 0 2% 0 2%;}

.cifrar {
    margin-right: 3%;
    background-color: #0A3871;
    color: #FFFFFF;}

.descifrar {
    background-color: transparent;
    color: #0A3871}

.resaltar:hover {
    transform: scale(1.05);
    transition: 0.1s;}

.output-texto {
    background-color: #FFFFFF;
    width: 30%;
    height: 90vh;
    min-height: 400px;
    position: absolute;
    top: 5vh;
    left: 60%;
    border-radius: 32px;
    box-shadow: 6px 6px 22px -3px rgba(0,0,0,0.36);}

.output-texto p{
    width: 90%;
    height: 67vh;
    margin: 3vh 0 0 5%;
    border-style: none;
    font-size: 24px;
    color: #495057;
    overflow-wrap: break-word;
    overflow-y: auto;}

.output-texto div {
    width: 100%;
    position: absolute;
    top:15%;
    height: 50vh;}

.output-texto div img{
    width: 80%;
    margin-left: 8%;
    margin-bottom: 3%;}

.output-texto div h2, .output-texto h2{
    color: #343A40;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3%;
    margin-top: 5vh}

.output-texto div p{
    color:#343A40;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 16px;
    text-align: center;}

.copiar {
    width: 88%;
    height: 67px;
    margin: 0 0 0 6%;
    border-radius: 32px;
    border-color: #0A3871;
    border-style: solid;
    background-color: transparent;
    border-width: 1px;
    color:#0A3871;
    font-size: 16px;
    display:none;}

.output-texto div{
    display: block;}

footer{
    margin-top: 4vh;}

footer p {
    font:inherit;
    text-align: center;
    font-weight: 700;
    color:#495057}

@media screen and (max-width:810px){
    .input-texto{
        width: 90%;
        height: 60vh;
        min-height: 250px;
        max-height: 600px;
        margin-left: 5%;
    }

    .input-texto textarea{
        width: 100%;
        height: calc(100% - 130px);
    }

    .botones input {
        width: 45%;
        margin-left:2%;
        margin-right: 2%;
    }

    .output-texto{
        margin-left: 5%;
        position: relative;
        top:auto;
        left:0%;
        width: 90%;
        height: auto;
        min-height: 130px;
        padding: 15px 0 15px 0;
        margin-bottom: 30px;
    }

    .output-texto p{
        width: 90%;
        height: calc(100% - 120px);
        margin-left: 5%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .output-texto img{
        display: none;
    }

    .output-texto div h2{
        margin-top: 15px;
    }
    .output-texto div p{
        margin: 0 0 0 10%;
    }

    @media screen and (max-width:400px){
        header h1{
            font-size: 1.5em;
        }
        .logo{
            width: 10%;
            top:3%;
            left: 3%;
        }

        .input-texto textarea{
            height: calc(100% - 220px)
        }

        .botones input{
            width: 100%;
            margin-top: 3%;
            margin-bottom: 3%;
        }

        .output-texto {
            min-height: 175px;
            max-height: none;
        }
    }
}

